# Ignore everything
/*

# Exclude specified files
!AbsPhynot.hs
!Env.hs
!ErrM.hs
!LexPhynot.x
!Makefile
!ParPhynot.y
!PrintPhynot.hs
!SkelPhynot.hs
!TestPhynot.hs
!phynot.cf
!TypeSystem.hs
!ErrorsBuilder.hs
!TAC.hs